{
  "branches": [
    "release",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  repositoryUrl: "git@github.com:thomasnordquist/MQTT-Explorer.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "semantic-release-export-data",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "yarn.lock"
        ]
      }
    ]
  ]
}
